{% extends 'base.html' %}
{%load static%}

{% block 'content' %}
<div class="container">
    <h1 class="text-center mb-3">
        Acerca de Newendo
    </h1>
    <h4>
        Newendo<br>
    </h4>
    <p>
        El camino de la energia es una tecnología del yo dedicada a la deconstrucción del ser, a través, de la lucha contra el cansancio.
    </p>
    <p>
    • Nietzsche<br>
    • Yoga<br>
    • Rolfing<br>
    • Método Mézières<br>
    </p>

    <p>
        Se estima que hasta el 75% de las personas en países de bajos ingresos, que experimentan problemas mentales no tienen
        acceso a profesionales de la salud mental, según el Programa de Acción para la Brecha de Salud Mental de la Organización
        Mundial de la Salud, esto significa que la brecha de tratamiento es enorme. Esta bitacora trata de entregar herramientas 
        para luchar contra el cansancio lo que creemos repercute enormemente en esta problema que es la salud mental en el presente.
    </p>
    <div class="container">
        <div class="col-4 offset-4">
            <img src="{% static 'DaVinci.jpg' %}" alt="logo" class="img-fluid mt-3 mb-3">
        </div>
    </div>
        <p>
            06:00 Es cuando uno tiene más cortisol en el cuerpo<br>
            06:45 Aumenta la presión arterial<br>
            07:30 La glándula pineal finaliza la producción de melatonina<br>
            
            08:30 Movimientos intestinales que facilitan la mejor asimilación de los alimentos<br>
            09:00 Aumento de la testosterona. Realizar ejercicios de intervalos por la mañana<br>
            10:00 Mayor atención y capacidad cognitiva<br>
            
            14:30 Capacidad motora<br>
            15:30 Menor tiempo de reacción a los estimulos<br>
            17:00 Mayor eficiencia muscular y cardiovascular<br>
            
            18:30 Mayor presión arterial<br>
            19:30 Mayor temperatura<br>
            
            21:00 La glandula pineal empieza a producir melatonina<br>
            22:30 Supresión de movimientos intestinales<br>
            23:00 Dormir
        </p>
    </div>
</div>
{% endblock %}

