{% load static %}
{% block 'footer' %}
<footer class="pie-pagina container-fluid mt-3">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="{% static 'logo.jpg' %}" alt="Logo Newendo" height="167">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>Newendo</h2>
            <p>El camino de la energia es una tecnología del yo dedicada a la deconstrucción del ser por medio de la guerra contra el
                cansancio.
            </p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="https://web.facebook.com/victorpenafiel?_rdc=1&_rdr"
                    class="fa fa-facebook" aria-hidden="true"></a>
                <a href="https://web.facebook.com/victorpenafiel?_rdc=1&_rdr"
                    class="fa fa-instagram" aria-hidden="true"></a>
                <a href="https://web.facebook.com/victorpenafiel?_rdc=1&_rdr"
                    class="fa fa-twitter" aria-hidden="true"></a>
                <a href="https://web.facebook.com/victorpenafiel?_rdc=1&_rdr"
                    class="fa fa-youtube" aria-hidden="true"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <a href="https://www.tusitioweb3.cl">
            Creado por: Tu sitio Web 3
        </a>
    </div>
</footer>

{% endblock %}