{%load static%}
<div class="container">
    <div class="row">
        <div class="col-4 offset-5">
            <img src="{% static 'logo.jpg' %}" alt="logo" height="137">
            </div>
                <div class="col-4 offset-9">
                    <div>
                        <h5>
                            Únete a nuestra comunidad
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 offset-9">
                    <span class="fa-stack fa-lg">
                        <a href="https://web.facebook.com/victorpenafiel?_rdc=1&_rdr" aria-hidden="true">
                            <i class="fa fa-square-2 fa-stack-2x"></i>
                            <i class="fa fa-youtube fa-stack-2x"></i>
                        </a>
                    </span>
                    <span class="fa-stack fa-lg">
                        <a href="https://web.facebook.com/victorpenafiel?_rdc=1&_rdr" aria-hidden="true">
                            <i class="fa fa-square-2 fa-stack-2x"></i>
                            <i class="fa fa-instagram fa-stack-2x"></i>
                        </a>
                    </span>
                    <span class="fa-stack fa-lg">
                        <a href="https://web.facebook.com/victorpenafiel?_rdc=1&_rdr" aria-hidden="true">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack fa-lg">
                        <a href="https://web.facebook.com/victorpenafiel?_rdc=1&_rdr" aria-hidden="true">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>