{% extends 'base.html' %}
{% load static %}

{% block 'content' %}
<div class="container">
    <div class="row">
        <div class="h-100 p-2 text-dark bg-warning rounded-3 mb-4">
            <h2>
                Newendo
            </h2>
            <p>
                Newendo nace en el año 2022 buscando entregar una curatoria de tecnologías del Yo,
                tomando como referentes a los siguientes pensadores:
                <br>Nietzsche, Patanjali, Mezieres y Rolfing.
            </p>
            <a href="{% url 'acerca' %}" class="btn btn-outline-dark">
                Conoce más
            </a>
        </div>
        
        {% for tecnologia in public_tecnologias %}
        <div class="col-12 col-md-3">
            <div class="card mb-4 bg-light">
                <img src="{{ tecnologia.image_url }}" class="card-img-top text-center" height="250">
                <div class="card-body">
                    <h4 class="card-title">
                        {{ tecnologia.nombre}}
                    </h4>
                    <h6>
                        {{ tecnologia.descripcion }}
                    </h6>
                    <h4 style="font-weight:bold">
                        {{ tecnologia.ver_mas }}
                    </h4>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne{{forloop.counter0}}" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    Libros
                                </button>
                            </h2>
                            <div id="flush-collapseOne{{forloop.counter0}}" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <b>
                                        {{tecnologia.nombre_libro_1}}
                                        <a href="{{tecnologia.libro_1}}">
                                            Ver
                                        </a>
                                    </b>
                                    <b>
                                        {{tecnologia.nombre_libro_2}}
                                        <a href="{{tecnologia.libro_2}}">
                                            Ver
                                        </a>
                                    </b>
                                    <b>
                                        {{tecnologia.nombre_libro_3}}
                                        <a href="{{tecnologia.libro_3}}">
                                            Ver
                                        </a>
                                    </b>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo{{forloop.counter0}}" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    Paginas de interes
                                </button>
                            </h2>
                            <div id="flush-collapseTwo{{forloop.counter0}}" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="grupo-2">
                                        <a href=" {{tecnologia.libro_1}} ">
                                            Ver
                                        </a>
                                    </div>
                                    <div class="grupo-2">
                                        <a href=" {{tecnologia.libro_2}} ">
                                            Ver
                                        </a>
                                    </div>
                                    <div class="grupo-2">
                                        <a href=" {{tecnologia.libro_3}} ">
                                            Ver
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree{{forloop.counter0}}" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                    Videos de interes
                                </button>
                            </h2>
                            <div id="flush-collapseThree{{forloop.counter0}}" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="grupo-2">
                                        <a href=" {{tecnologia.libro_1}} ">
                                            Ver
                                        </a>
                                    </div>
                                    <div class="grupo-2">
                                        <a href=" {{tecnologia.libro_2}} ">
                                            Ver
                                        </a>
                                    </div>
                                    <div class="grupo-2">
                                        <a href=" {{tecnologia.libro_3}} ">
                                            Ver
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        <div class="container">
            <div class="col-12 col-md-6 offset-0 offset-md-3 mt-4 mb-4">
                <h3 class="text-center">
                    Newendo, el camino de la energía.
                </h3>
                <div class="text-center">
                    <a href="{% url 'indice' %}" class="btn btn-primary">
                        Volver al inicio
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}