{% extends 'base.html'%}

{% block 'content' %}
<div class="container">
    <div class="col-12 col-md-6 offset-0 offset-md-3 mt-4 mb-4">
        <h1>Comida chatarra y cerebro</h1>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70"><b>dsfdfsdfsdfsdfsdfsdfsdfLos comentarios emocionales, irracionales y hasta explosivos que se dan
                    en conversaciones públicas han aumentado en años recientes. </b></p>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">Por ejemplo, los políticos son objeto de insultos durante los debates
                legislativos y los científicos reciben correos electrónicos y mensajes en Twitter abusivos y con amenazas.</p>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70"><b>¿</b><b>Q</b><b>ué está pasando?</b> La escalada de la retórica airada
                algunas veces se atribuye a las redes sociales. Pero, ¿habrá algo más que está alterando nuestro estilo de
                comunicación?</p>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">Como investigadoras en el campo de la nutrición y la salud mental, y
                autoras de <i class="bbc-h1y5j7 ewc4zcb0">The Better Brain</i> (Un cerebro mejor), vemos que muchas personas en
                nuestra sociedad experimentan <b>hambre cerebral</b>, lo cual les afecta las funciones cognitivas y la
                regulación emocional. </p>
        </div>
        <section aria-label="Publicidad 2" aria-hidden="true" role="region" data-e2e="advertisement"
            class="e1j2237y7 bbc-113e14a e1e90g5r0">
            <div id="dotcom-mpu" class="dotcom-ad" style="background-color: rgb(248, 248, 248);">
                <div class="dotcom-ad-inner">
                    <div class="dotcom-ad-text-wrapper"><a class="dotcom-ad-text" tabindex="-1"
                            href="https://www.bbc.com/mundo/institucional/2012/06/000000_ayuda_sobre_publicidad">Publicidad</a>
                    </div>
                    <div id="dotcom-slot-mpu" class="dotcom-slot"></div>
                </div>
            </div>
        </section>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <h2 id="Productos-ultra-procesados-" tabindex="-1" class="bbc-l3e97o e14hemmw0">Productos ultra procesados </h2>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">Obviamente, no tenemos deficiencia de macronutrientes: la población
                norteamericana tiende a consumir suficientes proteínas, grasas (aunque usualmente no las mejores grasas) y
                carbohidratos (usualmente no los buenos carbohidratos complejos).</p>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">Pero <b>nos</b><b> están</b><b> faltando</b><b> los micronutrientes</b>
                (minerales y vitaminas), porque consumimos productos ultraprocesados.</p>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">Los productos ultraprocesados incluyen cosas como refrescos, refrigerios
                empacados, cereales de desayuno con azúcar y <i class="bbc-h1y5j7 ewc4zcb0">nuggets</i> (trocitos de pollo
                rebozados). En general, estos contienen cantidades insignificantes de micronutrientes.</p>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">Tres análisis publicados por la Encuesta de Salud de la Comunidad
                Canadiense en 2004 y la Encuesta de Análisis de Salud y Nutrición Nacional de EE.UU. en 2018 revelaron
                estadísticas muy graves. </p>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">En Canadá, en 2004 el 40% de la ingesta de calorías en todas las edades
                provino de productos ultraprocesados. En EE.UU., el 67% de lo que los niños de entre 2 y 19 años consumieron en
                2018 y el 57% de lo consumido por los adultos eran productos ultraprocesados.</p>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">La mayoría de nosotros somos conscientes de que la alimentación es un tema
                trascendental en la salud física porque la mala calidad de la dieta está asociada con enfermedades crónicas como
                la obesidad, la diabetes o las cardiovasculares. </p>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70"><b>El público </b><b>es</b><b> menos consciente del impacto de la
                    nutrición sobre la salud cerebral.</b></p>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">Dado que las opciones alimenticias en nuestra sociedad se han inclinado
                fuertemente hacia los productos ultraprocesados, necesitamos conocer la evidencia científica sustancial que
                prueba que la ingesta de micronutrientes influye en la salud mental, especialmente en <b>la irritabilidad, la
                    rabia explosiva y el estado de ánimo inestable.</b></p>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">La evidencia científica es vasta, aunque se menciona tan poco en los
                medios que no mucha gente está familiarizada con ella. </p>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">Más de una decena de estudios de países como Canadá, España, Japón y
                Australia han demostrado que las personas que tienen una dieta saludable de alimentos integrales tienen menos
                síntomas de depresión y ansiedad que las que consumen una dieta pobre (mayoritariamente de productos
                ultraprocesados).</p>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">Los estudios correlacionados no pueden probar que las decisiones
                nutricionales son la causa de los problemas mentales: para eso acudimos a convincentes estudios longitudinales
                en curso, en los que los participantes no tienen ningún problema mental aparente, son evaluados según su salud y
                sus patrones alimenticios y son seguidos a lo largo del tiempo.</p>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">Algunos de los resultados han sido sorprendentes.</p>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">En un estudio de unas <b>89.000 personas en Japón </b>con entre 10 y 15
                años de seguimiento, la tasa de suicidio entre aquellos que consumieron una dieta de alimentos integrales fue la
                mitad que la de los que comieron dietas menos saludables, resaltando una importante nueva dirección que todavía
                no ha sido abordada por los actuales programas de prevención de suicidio.</p>
        </div>
       
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">Aquí en Canadá, resultados similares muestran cómo la alimentación de los
                niños, así como el seguimiento de guías sobre el ejercicio y el tiempo de uso pantallas, predijeron qué niños
                entre 10 y 11 años terminarían siendo referidos para un diagnóstico de desorden mental en los dos años
                siguientes.</p>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">Por ende, la educación nutricional debe ser una de las primeras líneas de
                tratamiento para los niños en esta situación.</p>
        </div>
        
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">La irritabilidad y el estado de ánimo inestable frecuentemente
                caracterizan la depresión, así que es relevante que múltiples estudios independientes hayan demostrado que
                enseñarles a los pacientes con depresión, que tenían dietas relativamente pobres, cómo cambiar a alimentos
                enteros propios de la dieta Mediterránea, conllevó mejoras significativas.</p>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">Una <b>dieta Mediterránea </b>es típicamente alta en granos enteros,
                frutas, vegetales, frutos secos, legumbres, mariscos y grasas no saturadas como el aceite de oliva. </p>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">En uno de esos estudios, aproximadamente un tercio de las personas que
                cambiaron a una dieta de alimentos enteros, además de seguir su tratamiento regular, notaron que su depresión
                estaba en remisión después de 12 semanas.</p>
        </div>
       
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">Esa remisión en el grupo de control que recibió el tratamiento regular
                pero no cambió la dieta se dio en menos de 1 de cada 10 participantes.</p>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">El grupo que siguió una dieta de alimentos enteros también reportó un
                ahorro de casi 20% en su presupuesto alimenticio. Este último detalle ayuda a disipar el mito que consumir
                productos ultraprocesados es una manera de ahorrar dinero.</p>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">La evidencia de que la irritabilidad, la rabia explosiva y el estado de
                ánimo inestable se pueden resolver con una mayor ingesta de micronutrientes proviene de estudios que evalúan los
                suplementos de micronutrientes en los tratamientos de problemas de salud mental. </p>
        </div>
     
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">Una mayor conciencia pública sobre este asunto está limitada por la
                desafortunada búsqueda de soluciones mágicas: estudios de un solo nutriente a la vez. Esa es una forma común de
                pensar en la causalidad (para el problema X, necesita la medicación Y), pero no es así como funcionan nuestros
                cerebros.</p>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">Para sostener el metabolismo cerebral, <b>nuestros cerebros requieren
                </b><b>de </b><b>por lo menos 30 micronutrientes</b> para garantizar la producción de neurotransmisores como la
                serotonina y la dopamina, así como para descomponer y desechar subproductos metabólicos.</p>
        </div>
     
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">Muchos estudios de tratamientos con múltiples nutrientes han encontrado
                una mejor regulación del estado de ánimo y una reducción de la irritabilidad y la rabia explosiva, incluso en
                investigaciones aleatorias controladas con placebos de niños con trastorno por déficit de atención con
                hiperactividad y desregulación del estado de ánimo. </p>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70">La evidencia es clara: <b>una población bien alimentada está mejor
                    capacitada para soportar el estrés.</b> El hambre cerebral oculta es un factor modificable que contribuye a
                explosiones emocionales, agresión y hasta pérdida de urbanidad en el diálogo público. </p>
        </div>
        <div dir="ltr" class="bbc-19j92fr e57qer20">
            <p dir="ltr" class="bbc-bm53ic e1cc2ql70"><i class="bbc-h1y5j7 ewc4zcb0">Bonnie Kaplan</i><i
                    class="bbc-h1y5j7 ewc4zcb0"> es</i><i class="bbc-h1y5j7 ewc4zcb0"> profesora emérita de la Escuela de
                    Medicina Cumming de la Universidad de Calgary y Julia J. Rucklidge</i><i class="bbc-h1y5j7 ewc4zcb0">
                    es</i><i class="bbc-h1y5j7 ewc4zcb0"> profesora de Psicología en la Universidad de Canterbuty. Esta nota
                    apareció originalmente en The Conversation y se publica aquí bajo una licencia de Creative Commons.</i>
    </div>
</div>
{% endblock %}